/* styles.css */

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

.menu-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0,1.0);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: adds a slight shadow */
    z-index: 1000; 
    background: transparent; /* Set to transparent */
    /* background-color: transparent; */
}

.menu-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    background: transparent; /* Set to transparent */
    justify-content: center;
}

.menu-bar li {
    margin: 0 15px;
}

.menu-bar a {
    text-decoration: none;
    color: #fff; /* White text color for contrast */
    padding: 15px 20px;
    display: block;
}

.menu-bar a:hover {
    /* background: rgb(23, 23, 23); */
    border-radius: 5px;
    font-size: 17px;

}

.content {
    padding: 100px 20px; /* Adds some padding to make the content visible */
    text-align: center;
}
